body {
    background-color:mediumaquamarine;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;

}

h1 {
    color: darkgoldenrod;
    text-align: center;
    width: 100%;
    display: block;

}

.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: red;
    width: 20%;
    box-shadow: 8px 8px [pick a color];
    display: block; /* instead of flex */
    border-radius: 20px; /* set last assignment */


}

.assign img {
    width: 200px;
    padding: 10px;
    }
